/* USE CASE 1 */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 15 px 0;
    background: #fffffa 0% 0% no-repeat padding-box;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:0px solid green;
    padding-top: 20px;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.addressBook-text{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    color: #008cff;
} 
.addressBook-book{
    color:#42515f
}
.logo-content-img{
    border: solid 0px #42515f;
}

/* USE CASE 2 */

.form-content{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.form{
    background: #ffffff 0% 0% no-repeat padding-box;
    min-width: 800px;
    margin: 2%;
    box-shadow: 0px 3px 6px #00000029;
    border:0px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}
.form-head{
    display: flex;
    background: #008cff 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    padding: 30px;
 }
.form-head-text{
    flex:6;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font: normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
} 

/* USE CASE 3 */
.form-constrains{
    margin: 1% 25%;
    display: flex;
    flex-flow: column wrap;
    width:50%;
}
.row-content{
    margin-left: 30px;
    min-width: 80%;
    min-height: 80%;
    max-width: 100%;
    /* padding-left: 20px; */
}
label{
    display: inline-block;
    margin-top:20px;
}

.text{
    text-align:left;
    font:normal normal normal 18px/5px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}
.input{
    width:100%;
    height: 40px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius:3px;
    opacity: 1;
    resize: horizontal;
    padding: 16 px 12 px;
}
textarea{
    height: 20%;
    width:100%;
    resize:none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    letter-spacing: -1px;
    opacity: 1;
    padding-bottom:60px;
    padding-left: 10px;
    padding-top:10px;
}

.column-constrains{
    display: flex;
    flex-flow: row wrap;
    padding-top:19px;
    
}
.column-content{
flex:2
}

select{
    padding:7px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    text-align:left;
    font:normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    width: 90%;
}

.zipcode{
    padding:15px 12px;
}

/* USE CASE 5 */
.button{
    background: #e2e2e2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius:5px ;
    opacity: 1;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color:#42515f;
    padding: 5px 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.button-submit{
    margin-left: 315px;
}

.button:hover{
    box-shadow: 0px 8px 15px rgba(77,74,74,0.3);
}












